@{ViewBag.Title = "Recipes";}

<!--Infinite scrolling recipes-->
<div id="RecipesDiv"></div>
<div class="row" style="background-color:slategray;border-top:ridge;">
    <div class="col-12 text-center" style="color:white; font-size:24px; font-weight:bold; padding:100px;" id="NoMoreDiv"> Loading...</div>
</div>
<!--MODALS                 MODALS                  MODALS                    MODALS                 MODALS                MODALS              MODALS-->
<!--Filter Modal-->
<div class="modal" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="FilterModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header" style="padding-bottom:0;">
                <h4>Optional Filters</h4>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0;">
                <div class="row">
                    <div class="col-xl-2">
                        <h5>Sorting</h5>
                    </div>
                    <div class="col-xl-10 text-center" style="padding-bottom:10px;">
                        <div class="row">
                            <div class="col-8 text-center">
                                <select id="SortByDropDown" class="SortByDropDown" style="width:100%;">
                                    <option value="3">Chef Name</option>
                                    <option value="1">Create Date</option>
                                    <option value="0">Edit Date</option>
                                    <option value="2">Recipe Name</option>
                                </select>
                            </div>
                            <div class="col-4 text-right">
                                <div class="btn-group btn-group-sm" data-toggle="buttons">
                                    <label id="SortAscendingRadioLabel" class="btn btn-sm btn-primary">
                                        <input type="radio" name="SortAscendingRadio" id="SortAscendingRadioButton" autocomplete="off" checked> <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                    </label>
                                    <label id="SortDescendingRadioLabel" class="btn btn-sm btn-primary">
                                        <input type="radio" name="SortAscendingRadio" id="SortDescendingRadioButton" autocomplete="off"> <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Request.IsAuthenticated)
                {
                    <div class="row">
                        <div class="col-sm-4">
                            <h5 class="">Following Chefs</h5>
                        </div>
                        <div class="col-sm-8">                       
                            <div class="btn-group btn-group-justified btn-group-sm" data-toggle="buttons">
                                <label id="FollowingChefsFilterBoth" class="RecipeFilterRadioButton btn btn-sm btn-primary no-padding-left-and-right">
                                    <input type="radio" name="FollowingChefs" autocomplete="off">Both
                                </label>
                                <label id="FollowingChefsFilterMine" class="RecipeFilterRadioButton btn btn-sm btn-primary no-padding-left-and-right">
                                    <input type="radio" name="FollowingChefs" autocomplete="off">Yes
                                </label>
                                <label id="FollowingChefsFilterNotMine" class="RecipeFilterRadioButton btn btn-sm btn-primary no-padding-left-and-right">
                                    <input type="radio" name="FollowingChefs" autocomplete="off">No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="RecipeFiltersRecipeOwnerRow" class="row" style="padding-top:8px;">
                        <div class="col-sm-4">
                            <h5>Recipe Owner</h5>
                        </div>
                        <div class="col-sm-8">                            
                            <div class="btn-group btn-group-justified btn-group-sm" data-toggle="buttons">
                                <label id="RecipeOwnerFilterBoth" class="RecipeFilterRadioButton btn btn-sm btn-primary no-padding-left-and-right">
                                    <input type="radio" name="RecipeOwner" autocomplete="off">Both
                                </label>
                                <label id="RecipeOwnerFilterMine" class="RecipeFilterRadioButton btn btn-sm btn-primary no-padding-left-and-right">
                                    <input type="radio" name="RecipeOwner" autocomplete="off">Mine
                                </label>
                                <label id="RecipeOwnerFilterNotMine" class="RecipeFilterRadioButton btn btn-sm btn-primary no-padding-left-and-right">
                                    <input type="radio" name="RecipeOwner" autocomplete="off">Not Mine
                                </label>
                            </div>
                        </div>
                    </div>                
                    <div class="row"  style="padding-top:8px;">
                        <div class="col-sm-4">
                            <h5>Saved Recipes</h5>
                        </div>
                        <div class="col-sm-8">                          
                            <div class="btn-group btn-group-justified btn-group-sm" data-toggle="buttons">
                                <label id="SavedFilterBoth" class="RecipeFilterRadioButton btn btn-sm btn-primary no-padding-left-and-right" onclick="ViewBagRecipeFilterModel.Saved = null">
                                    <input type="radio" name="Saved" autocomplete="off">Both
                                </label>
                                <label id="SavedFilterMine" class="RecipeFilterRadioButton btn btn-sm btn-primary no-padding-left-and-right" onclick="ViewBagRecipeFilterModel.Saved = true">
                                    <input type="radio" name="Saved" autocomplete="off">Yes
                                </label>
                                <label id="SavedFilterNotMine" class="RecipeFilterRadioButton btn btn-sm btn-primary no-padding-left-and-right" onclick="ViewBagRecipeFilterModel.Saved = false">
                                    <input type="radio" name="Saved" autocomplete="off">No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:8px;">
                        <div class="col-sm-4">
                            <h5>Viewable Types</h5>
                        </div>
                        <div class="col-sm-8">                      
                            <table class="table table-sm">
                                <tr id="RecipeViewableTypeTableDraftsRow">
                                    <td>Drafts</td>
                                    <td align="right"><input id="RecipeViewableTypeTableDraftsCheckbox" type="checkbox" onchange="ViewBagRecipeFilterModel.Drafts = $(this).is(':checked')" /></td>
                                </tr>
                                <tr id="RecipeViewableTypeTableFollowerRow">
                                    <td>Follower</td>
                                    <td align="right"><input id="RecipeViewableTypeTableFollowerCheckbox" type="checkbox" onchange="ViewBagRecipeFilterModel.Follower = $(this).is(':checked')" /></td>
                                </tr>
                                <tr id="RecipeViewableTypeTablePublicRow">
                                    <td>Public</td>
                                    <td align="right"><input id="RecipeViewableTypeTablePublicCheckbox" type="checkbox" onchange="ViewBagRecipeFilterModel.Public = $(this).is(':checked')" /></td>
                                </tr>
                                <tr id="RecipeViewableTypeTableSecretRow">
                                    <td>Secret</td>
                                    <td align="right"><input id="RecipeViewableTypeTableSecretCheckbox" type="checkbox" onchange="ViewBagRecipeFilterModel.Secret = $(this).is(':checked')" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                }
            </div>
            <div class="row" style="padding:8px;">
                <div class="col-6" style="padding-right:5px;">
                    <button type="button" class="btn btn-danger btn-block btn-bordered" onclick="OnClick_FilterModalClearButton()" id="FilterModalFilterButton">Reset Filters</button>
                </div>
                <div class="col-6" style="padding-left:5px;">
                    <button type="button" class="btn btn-success btn-block btn-bordered" onclick="SearchRecipes()" id="FilterModalFilterButton">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--RecipePreviewer Modal-->
<div class="modal" id="RecipePreviewer" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="RecipePreviewer" style="overflow-y:scroll;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
                <h4 class="modal-title" id="ModalRecipeHeader"></h4>
                <button type="button" class="close" aria-label="Close" onclick="$('#RecipePreviewer').modal('hide');"><span style="color:red;" aria-hidden="true">&times;</span></button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <video controls class="img-fluid" style="display:none;max-height:200px;" id="ModalMainRecipeVideo" poster="~/Content/Images/OpenSourceCooking4096x2160.png"></video>
                        <img class="zoomImage FullscreenableImg rounded img-fluid" style="display:none;max-height:200px;" id="ModalMainRecipeImg">
                    </div>
                    <div class="col-6 text-center" style="padding:2px;" id="RecipePreviewerSymbolsDiv">
                        <!--Jquery Populates-->
                    </div>
                    <div class="col-6 text-right">
                        <span id="RecipePreviewerEstMinutes"></span> to make
                    </div>
                    <div class="col-12">
                        <span id="ModalRecipeDescriptionSpan"></span>
                    </div>
                    <div class="col-12" style="padding:1%;" id="RecipeIngredientSummary">
                        <ul id="RecipePreviewerIngredientSummaryList">
                            <!--Jquery Populates-->
                        </ul>
                    </div>
                    <div class="col-12" style="padding-top:3px;">
                        <button type="button" class="btn btn-block btn-outline-info btn-bordered" onclick="Onclick_ShowRecipeSteps()" id="ShowRecipeStepsButton"></button>
                    </div>
                    <div class="col-12" id="RecipeStepsDiv" style="display:none;">
                        <!--Recipes Steps-->
                    </div>
                    <div class="col-12" style="padding-top:3px;">
                        <button type="button" class="btn btn-block btn-outline-info btn-bordered" onclick="Onclick_ShowComments()" id="ShowRecipeCommentsButton"></button>
                    </div>
                    <div class="col-12" style="padding-top:3px;">
                        <div class="row" id="RecipeCommentsAreaDiv" style="display:none;">
                            <div class="col-12 text-center" style="margin-top:4px;">
                                <textarea class="form-control" rows="3" placeholder="Add public comment" id="RecipeCommentTextArea"></textarea>
                            </div>
                            <div class="col-12 text-right" style="font-size:16px;">
                                <span id="RecipeCommentCharactersLeftSpan"></span><span> characters left </span><img id="DescriptionInputImage" src="~/Content/Images/Icons/Checkmark.png" class="img-fluid" style="vertical-align:middle; width:16px;height:16px;" />
                            </div>
                            <div class="col-12 text-right" style="font-size:16px;">
                                <button type="button" class="pull-right btn btn-sm btn-primary btn-bordered" style="margin-top:4px;" onclick="Onclick_SubmitComment()" id="SubmitCommentButton">Submit Comment</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" id="RecipeComments">
                        <!--Jquery Populates-->
                    </div>
                    <div class="col-12" style="display:none;padding-top:4px;" id="ShowMoreRecipeCommentsButtonDiv">
                        <button id="ShowMoreRecipeCommentsButton" class="btn btn-block btn-sm btn-secondary btn-bordered" onclick="ShowMoreRecipeComments()">Show More Comments</button>
                    </div>
                </div>
            </div>
            <!--Footer-->
            <div class="col-12" style="padding-bottom:1%;padding-top:1%;">
                <div class="row">
                    <div class="col-lg-8">
                        <button id="ModalFollowChefButton" class="btn btn-sm btn-bordered"></button>
                    </div>
                    <!--
                    <div class="col-lg-4">
                        <div id="ModalCompleteDateUtc"></div>
                        <div id="ModalEditDate"></div>
                    </div>
                    -->
                    <div class="col-lg-4 text-right">
                        <button type="button" class="btn btn-danger btn-bordered" onclick="$('#ModalMainRecipeVideo').get(0).pause(); $('#RecipePreviewer').modal('hide');">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--ConfirmRecipeDelete Modal-->
<div class="modal" id="ConfirmRecipeDeleteModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmRecipeDelete" style="overflow-y:scroll;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span style="font-size:20px; color:red; font-weight:bold;">Permanently delete this recipe?</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger btn-bordered" id="ConfirmRecipeDeleteModalDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Report Modal -->
<div class="modal" id="ReportModal" tabindex="-1" role="dialog" aria-labelledby="ReportModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Why are you reporting?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body text-center" style="padding-bottom:0px;">
                <span style="color:red;">Abusing the report function will result with an account ban and all report flags deleted. Don't be a troll.</span>
            </div>
            <div class="modal-body" id="ReportModalBody">
            </div>RecipeFilterModel 
        </div>
    </div>
</div>

@Html.Partial("~/Views/PartialViews/_FullScreenMediaElementDiv.cshtml"/*, model*/)
@Html.Partial("~/Views/PartialViews/Modals/_PopUpModal.cshtml"/*, model*/)
@Html.Partial("~/Views/PartialViews/Modals/_RecipeViewableTypeModal.cshtml"/*, model*/)


@section Scripts{
    <script src="@Url.Content("~/Scripts/recipeIndex.js")"></script>
    <script src="@Url.Content("~/Scripts/date-functions.js")"></script>
}