@{ViewBag.Title = "Recipe Editor";}

<script>
    var ViewBagRecipeId = '@(ViewBag.RecipeId)';
</script>
@section Scripts{<script src="@Url.Content("~/Scripts/recipeEditor.js")"></script>}
<br />
<div class="row">
    <!--Left Side-->
    <div class="col-md-6">
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-12" style="padding-top:1%;">
                <h4>Recipe Name</h4>
                <div class="input-group">
                    <input id="RecipeNameInput" type="text" class="AutoSaveInput form-control" placeholder="Recipe name">
                    <span class="input-group-addon"><img id="RecipeNameInputImage" src="~/Content/Images/Icons/Checkmark.png" class="img-fluid" style="width:24px;height:24px;" /></span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-12" style="padding-top:1%; display:none;" id="RecipeServingSizeDiv">
                <h4>Servings</h4>
                <div class="input-group">
                    <input id="ServingSizeInput" class="AutoSaveInput form-control" type="number" placeholder="Servings" />
                    <span class="input-group-addon"><img id="ServingSizeInputImage" src="~/Content/Images/Icons/Checkmark.png" class="img-fluid" style="width:24px;height:24px;" /></span>
                </div>
            </div>
        </div>
        <div class="row" style="display:none;" id="DietaryRestrictionsSliderDiv">
            <div class="col-12" style="padding-top:1%;">
                <h4>Dietary Restrictions</h4>
            </div>           
            <div class="col-md-6">
                <div class="row">
                    <div class="col-4" id="DietaryRestrictionsSliderDivNoneDiv">
                        None
                    </div>
                    <div class="col-4 text-center" id="DietaryRestrictionsSliderDivVegetarianDiv">
                        Vegetarian
                    </div>
                    <div class="col-4 text-right" id="DietaryRestrictionsSliderDivVeganDiv">
                        Vegan
                    </div>
                    <div class="col-12">
                        <div class="range-slider" id="dietary-range-slider">
                            <input class="range-slider-range" type="range" value="0" min="0" max="2" step="1" style="width:100%;" id="dietary-range-slider-range"><span class="range-slider-value" style="display:none;" id="dietary-restrictions-slider-value">0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center" style="padding-top:1%; display:none;" id="dietary-restrictions-div">
                <div class="row">
                    <div class="col-4">
                        <span id="DairyFreeCheckboxSpan"><input type="checkbox" id="IsDairyFreeCheckbox" onchange="UpdateDietaryRestrictions()">Dairy Free</span>
                    </div>
                    <div class="col-4">
                        <span id="GlutenCheckboxSpan"><input type="checkbox" id="IsGlutenCheckbox" onchange="UpdateDietaryRestrictions()">Gluten Free</span>
                    </div>
                    <div class="col-4">
                        <span id="GMOFreeCheckboxSpan"><input type="checkbox" id="IsGMOFreeCheckbox" onchange="UpdateDietaryRestrictions()">GMO Free</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="display:none;" id="RecipeDescriptionDiv">
            <div class="col-12">
                <h4>Recipe Description</h4>
            </div>
            <div class="col-12">
                <textarea class="AutoSaveInput form-control" rows="3" placeholder="Optional Recipe Discription/Summary" id="DescriptionInput"></textarea>
            </div>
            <div class="col-12 text-right" style="font-size:16px;">
                <span id="RecipeDescriptionCharactersLeftSpan">300</span><span> characters left </span><img id="DescriptionInputImage" src="~/Content/Images/Icons/Checkmark.png" class="img-fluid" style="vertical-align:middle; width:16px;height:16px;" />
            </div>
            <div class="col-6" style="padding-top:1%; display:none;" id="StepsHeaderDiv1">
                <h4>Steps</h4>
            </div>
            <div class="col-6 text-right" style="padding-top:1%; display:none;" id="StepsHeaderDiv2">
                <button class="btn btn-sm btn-success btn-bordered" type="button" onclick="OnClicked_AddStep(EditingRecipe.Id)" id="AddRecipeStepButton">+ Add Step</button>
            </div>
        </div>
        <div class="row" style="padding-top:1%;">
            <div class="col-12" style="display:none;" id="RecipeStepsDiv">
                <!--Jquery add recipe steps here-->
            </div>
            <div class="col-12 text-right" id="TotalEstimatedTimeDiv"></div>
        </div>
    </div>
    <!--Right Side-->
    <div class="col-md-6" style="display:none;" id="MainPhotoDiv">
        <div class="row">
            <div class="col-sm-6 text-center" style="padding-left:0;padding-right:2px;">
                <h4>Optional Poster Image</h4>
                <img type="image" class="UploadPhotoButton rounded mx-auto img-fluid" style="width:80%;" id="PosterImageUploadButton" onclick="UploadImageButtonClicked($('#PosterImageUploadInput'), $('#PosterImageUploadButton'), EditingRecipe.Id, -1, -1);" />
                <input type="file" accept="image/*" multiple style="display:none;" id="PosterImageUploadInput" onchange="MainImageInput_Changed($('#PosterImageUploadInput'),$('#PosterImageUploadButton'),EditingRecipe.Id);" />
            </div>
            <div class="col-sm-6 text-center" text-center style="padding-left:2px;padding-right:0;">
                <h4>Optional Video</h4>
                <img type="image" class="UploadVideoButton rounded mx-auto img-fluid" style="width:80%;" id="VideoUploadButton" onclick="UploadVideoButtonClicked($('#VideoUploadInput'),$('#VideoUploadButton'), EditingRecipe.Id);" />
                <input type="file" accept="video/*" multiple style="display:none;" id="VideoUploadInput" onchange="VideoUploadInput_Changed($('#VideoUploadInput'), $('#MainVideo'), EditingRecipe.Id)" />
                <video class="img-fluid" style="display:none;" controls id="MainVideo" onclick="MainVideoClicked(EditingRecipe.Id, $('#VideoUploadButton'));"></video>
            </div>
        </div>
    </div>
    <div class="col-12" style="padding-top:1%;">
        <button class="btn btn-primary btn-bordered" onclick="IncrementCreationStep()" id="NextButton">Next</button>
    </div>
    <div class="col-12" style="padding-top:1%;padding-bottom:1%;">
        <a class="btn btn-danger btn-block btn-bordered" style="display:none;" href="javascript:OnClick_CompleteRecipe(EditingRecipe.Id)" id="CompleteButton">Finish Draft Later!</a>
    </div>
</div>

<!--Modals--><!--Modals--><!--Modals--><!--Modals--><!--Modals--><!--Modals-->
<!-- AddOrEditStep Modal -->
<div id="AddStepModal" class="modal" role="dialog" style="overflow-y:auto;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Recipe Step <span class="StepNumberSpan">1</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!--Ingredients-->
                    <div class="col-md-6">
                        <div class="col-12">
                            <button class="btn btn-sm btn-success btn-bordered btn-block" onclick="AddIngredientButtonClicked()">+ Add Ingredient</button>
                        </div>
                        <div class="col-12">
                            <table class="table borderless" id="RecipeStepIngredientsTable">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!--Step Directions-->
                    <div class="col-md-6">
                        <textarea class="form-control" rows="4" placeholder="Optional Step Directions (500 character limit)" id="AddStepComment" style="margin-bottom:6px;"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9" style="font-size:20px;">
                        Estimated Time In Minutes
                    </div>
                    <div class="col-3">
                        <input type="number" class="form-control" placeholder="0" id="EstimatedStepTime" />
                    </div>
                    <div class="col-12" id="OptionalStepPhotosDiv">
                        <span style="font-size:20px;">Optional Step <span class="StepNumberSpan">1</span> Photos</span>
                        <table class="table borderless">
                            <tr>
                                <td class="text-center">
                                    <a href=#><img class="UploadPhotoButton rounded mx-auto img-fluid" src="" id="Slot1UploadButton" onclick="UploadImageButtonClicked($('#Slot1UploadInput'), $('#Slot1UploadButton'), EditingRecipe.Id, StepNumber, 1);" style="max-width:90px; max-height:90px;" /></a>
                                    <input type="file" accept="image/*" multiple style="display:none;" id="Slot1UploadInput" onchange="FileUploadInput_Changed($('#Slot1UploadInput'), $('#Slot1UploadButton'), EditingRecipe.Id, StepNumber, 1);" />
                                </td>
                                <td class="text-center">
                                    <a href=#><img class="UploadPhotoButton rounded mx-auto img-fluid" src="" id="Slot2UploadButton" onclick="UploadImageButtonClicked($('#Slot2UploadInput'), $('#Slot2UploadButton'), EditingRecipe.Id, StepNumber, 2);" style="max-width:90px; max-height:90px;" /></a>
                                    <input type="file" accept="image/*" multiple style="display:none;" id="Slot2UploadInput" onchange="FileUploadInput_Changed($('#Slot2UploadInput'), $('#Slot2UploadButton'), EditingRecipe.Id, StepNumber, 2);" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-bordered btn-block" onclick="UpdateRecipeStep(EditingRecipe.Id)">Done</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Ingredient To Step Modal -->
<div id="AddIngredientToStepModal" class="modal" role="dialog" style="overflow-y:auto;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Ingredient To Step <span class="StepNumberSpan">1</span> </h4>
                <button type="button" class="close" onclick="OnClicked_AddIngredientToStepModalClose()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h5>Ingredient Name</h5>
                    </div>
                    <div class="col-12 text-center">
                        <input type="text" class="form-control" placeholder="E.g. egg, milk, sugar, " id="IngredientSearch" />
                    </div>
                    <div class="col-12" style="padding-top:10px;">
                        <h5>Measurement Unit</h5>
                        @Html.DropDownList("MeasurementUnitDropDown", Enumerable.Empty<SelectListItem>(), "Loading...", new { @class = "form-control" })
                    </div>
                    <div class="col-12" style="padding-top:10px;">
                        <h5>Amount</h5>
                        (Decimal or Fraction) E.g. &nbsp 2 1/2 &nbsp or &nbsp 2.5
                    </div>
                    <div class="col-5 text-center">
                        <input type="text" class="form-control" placeholder="Required" id="MeasurementAmount" />
                    </div>
                    <div class="col-2 text-center">
                        to
                    </div>
                    <div class="col-5 text-center">
                        <input type="text" class="form-control" placeholder="Optional" id="OptionalToAmount" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-bordered btn-block" onclick="UpdateIngredientToStep(EditingRecipe.Id)">Done</button>
            </div>
        </div>
    </div>
</div>

<!--RemoveCloudFileModal-->
<div id="RemoveCloudFileModal" class="modal" data-backdrop="static" data-keyboard="false" role="dialog" style="overflow-y:auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="RemoveCloudFileModalHeader"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger btn-bordered" id="RemoveCloudFileModalRemoveButton">Remove</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/PartialViews/Modals/_PopUpModal.cshtml"/*, model*/)
@Html.Partial("~/Views/PartialViews/Modals/_RecipeViewableTypeModal.cshtml"/*, model*/)