@using Microsoft.AspNet.Identity


<script type="text/javascript">
    function AjaxSendEmailConfirmation() {
        $('#ConfirmEmailModal').modal('hide');
        $.ajax({
            url: '@Url.Action("AjaxSendEmailConfirmation", "Account")',
            type: "GET",
            cache: false,
            data: {},
            success: function (bool) {
                ShowPopUpModal("PopUp","Check your email and spam folder for a confirmation email");
            },
            error: function (Error) {
                ShowPopUpModal("Error","Oops something bad happened.. " + Error);
            }
        });
    }
    function AjaxGetUserEmail()
    {
        $.ajax({
            url: '@Url.Action("AjaxGetUserEmail", "Account")',
            type: "GET",
            cache: false,
            data: {},
            success: function (Email) {
                $('#EmailConfirmationSpan').text(Email);
                $('#ConfirmEmailModal').modal('show');
            },
            error: function (Error) {
                ShowPopUpModal("Error","Oops something bad happened.. " + Error);
            }
        });
    }
</script>

@{
    OpenSourceCookingEntities db = new OpenSourceCookingEntities();
    var AspNetUser = db.AspNetUsers.Find(User.Identity.GetUserId());
    if (Request.IsAuthenticated && AspNetUser != null)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-link">
                    @{
                        if (!AspNetUser.EmailConfirmed)
                        {
                            <a href="#" style="color:red; font-weight:bold; text-decoration:underline;" onclick="AjaxGetUserEmail()">Confirm Email To Enable Account Recovery!</a>
                        }
                    }
                </li>
                <li class="nav-link text-right">
                    <a class="btn btn-secondary btn-bordered" href="@Url.Action("Index", "Manage", new { title = "Manage"})">Hello @User.Identity.GetUserName()!</a>
                </li>
                <li class="nav-link text-right">
                    <a class="btn btn-primary btn-bordered" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-link text-right">
                <a class="btn btn-primary btn-bordered" href="@Url.Action("Register", "Account", new { id = "registerLink"})">Register</a>
            </li>
            <li class="nav-link text-right">
                <a class="btn btn-primary btn-bordered" href="@Url.Action("Login", "Account", new { id = "loginLink"})">Log in</a>
            </li>
        </ul>
    }
}
