@model IEnumerable<OpenSourceCooking.RecipeFlag>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreateDateUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flag.FlagName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDateUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flag.FlagName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { RecipeId = item.RecipeId, ReportingAspNetUserId = item.ReportingAspNetUserId, FlagName = item.FlagName }) |
            @Html.ActionLink("Details", "Details", new { RecipeId = item.RecipeId, ReportingAspNetUserId = item.ReportingAspNetUserId, FlagName = item.FlagName }) |
            @Html.ActionLink("Delete", "Delete", new { RecipeId = item.RecipeId, ReportingAspNetUserId = item.ReportingAspNetUserId, FlagName = item.FlagName })
        </td>
    </tr>
}

</table>
